Options -Indexes

ErrorDocument 404 /siakad/templates/error404.php

<IfModule mod_headers.c>
  <FilesMatch "\.(ttf|ttc|otf|eot|woff|woff2|font.css|css|js)$">
    Header set Access-Control-Allow-Origin "*"
  </FilesMatch>
</IfModule>

RewriteEngine On
RewriteRule ^dashboard$ index.php
RewriteRule ^login$ login.php
RewriteRule ^logout$ logout.php

RewriteRule ^pengaturan$ index.php?page=pengaturan
RewriteRule ^absensi$ index.php?page=absensi
RewriteRule ^absensi-pulang$ index.php?page=absensi-pulang
RewriteRule ^hubungi-admin$ index.php?page=hubungi-admin
RewriteRule ^data-jadwal$ index.php?page=data-jadwal